:root {
    // colors
    --black: #333;
    --grey: #9a9898;
    --gray: var(--grey);
    --blue: #419FD9;
    --light-blue: #74b4e0;

    // margins
    --margin-small: 8px;

    // sizes
    --avatar-size: 48px;
    --contact-width: 200px;
    --message-width: 600px;
    --window-height: 600px;
    --window-width: 800px;

    // fonts
    --font: "Arial";
    --font-size: 14px;
    --line-height: 16px;

    // media
}
